<div class="testimonials" id="gallery">
<h1>Photo gallery</h1>
  <div class="container">
    <div class="row">

        <div class="col-md-12 text-center title-font">
          <h3>Exhibition</h3>
        </div>

	    <div class="col-md-12 owl-carousel exhibition-clik">
	       <img class="owl-lazy" data-src="images/exhibition/1.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/2.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/4.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/5.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/6.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/7.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/8.jpg" alt="">
	       <img class="owl-lazy" data-src="images/exhibition/9.jpg" alt="">
	    </div>

    </div>
  </div>

  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12"> -->
        <div class="col-md-12 text-center title-font">
          <h3>Apparition</h3>
        </div>
      <!-- </div> -->

      <div class="col-md-12 owl-carousel apparition-clik">
	       <img class="owl-lazy" data-src="images/apparition/1.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/2.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/3.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/4.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/5.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/6.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/7.jpg" alt="">
	       <img class="owl-lazy" data-src="images/apparition/8.jpg" alt="">
    </div>

    </div>
  </div>



  <div class="container">
    <div class="row">
      <!-- <div class="col-md-12"> -->
        <div class="col-md-12 text-center title-font">
          <h3>Canne</h3>
        </div>
      <!-- </div> -->

      <div class="col-md-12 owl-carousel canne-clik">
	       <img class="owl-lazy" data-src="images/canne/1.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/2.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/3.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/4.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/5.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/6.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/7.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/8.jpg" alt="">
	       <img class="owl-lazy" data-src="images/canne/9.jpg" alt="">
    </div>

    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-12 text-center title-font">
          <h3>Victoria Silvstedt</h3>
        </div>

      <div class="col-md-12 owl-carousel victoria-clik">
      	<img class="owl-lazy" data-src="images/victoria/1.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/2.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/3.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/4.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/5.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/6.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/7.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/8.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/9.jpg" alt="">
        <img class="owl-lazy" data-src="images/victoria/10.jpg" alt="">
    </div>

    </div>
  </div>
</div>