<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="#/"><img id="logoNavBar" src="images/logo.png"/></a>
      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ul class="nav navbar-nav">
        <li
          ng-class="{active: currentPath === '/'}"
          >
          <a ng-href="#/">{{"home" | translate}}</a>
        </li>
        <li
          ng-class="{active: currentPath === '/about'}"
          >
          <a ng-href="#/about">{{"about" | translate}}</a>
        </li>
        <li
          ng-class="{active: currentPath === '/contacts'}"
          >
          <a ng-href="#/contacts">{{"contact" | translate}}</a>
        </li>
        <li
          ng-class="{active: currentPath === '/contacts'}"
          >
          <a ng-href="#/contacts">{{"contact" | translate}}</a>
        </li>
        <li
          ng-class="{active: currentPath === '/contacts'}"
          >
          <a ng-href="#/contacts">{{"contact" | translate}}</a>
        </li>
        <li
          ng-class="{active: currentPath === '/contacts'}"
          >
          <a ng-href="#/contacts">{{"contact" | translate}}</a>
        </li>
      </ul>
        <div>
        <p class = "navbar-text navbar-right">
        <div ng-translate-language-select>
        </p>
      </div>
    </div>
  </div>
</div>